<!-- Head -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/images/icon-dark.png">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Latte House</title>

</head>

<body>
    <!-- Header -->
    <header>
        <nav class="promotion__nav container-fluid navbar-nav">
            <p>Chương trình mua một tặng một. <a href="#">Tìm hiểu ngay!</a></p>
        </nav>
        <!-- Navigation header -->
        <div class="nav-bar nav-scroll">
            <div class="nav__bar container">
                <div class="logo">
                    <img src="/assets/images/logo-w-dark.png" alt="">
                </div>
                <div class="search__gr">
                    <form action="">
                        <div>
                            <div>
                                <!-- Change select tag to div with modal & js code -->
                                <select id="active__item">
                                    <option value="tea">Danh mục</option>
                                    <option value="tea">Trà</option>
                                    <option value="coffee">Cà phê</option>
                                    <option value="juice">Nước ép</option>
                                    <option value="milktea">Trà sữa</option>
                                </select>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <input type="text" placeholder="Tìm kiếm sản phẩm...">
                        </div>
                        <button class="btn-search" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>
                </div>
                <div class="orther__option">
                    <div class="contact">
                        <div><i class="fa-solid fa-phone-volume"></i></div>
                        <div><span>Liên hệ hỗ trợ</span><span>+84 1900 9099</span></div>
                    </div>
                    <div class="user">
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <div class="heart">
                        <i class="fa-solid fa-heart"></i>
                        <div>
                            <span class="bi-quanty">1</span>
                        </div>
                        <!-- <i class="bi bi-0-circle-fill"></i> -->
                    </div>
                    <div class="cart">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <div>
                            <span class="bi-quanty">1</span>
                        </div>
                        <!-- <i class="bi bi-0-circle-fill"></i> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="menu__nav  justify-content-center">
            <nav class="nav__bar container">
                <ul class="menu">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Sản phẩm</a>
                        <ul>
                            <li><a href="#">Trà</a>
                                <ul>
                                    <li><a href="#">Trà trái cây</a></li>
                                    <li><a href="#">Trà sữa</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Cà phê</a>
                                <ul>
                                    <li><a href="#">Cà phê việt</a></li>
                                    <li><a href="#">Cà phê pha máy</a></li>
                                    <li><a href="#">Cold Brew</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Sinh tố</a></li>
                            <li><a href="#">Nước ép</a></li>
                            <li><a href="#">Thức uống đá xay</a></li>
                            <li><a href="#">Đồ ăn nhẹ</a>
                                <ul>
                                    <li><a href="#">Bánh mặn</a></li>
                                    <li><a href="#">Bánh ngọt</a></li>
                                    <li><a href="#">Snack</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Khuyến mãi</a></li>
                    <li><a href="#">Về chúng tôi</a>
                        <ul>
                            <li><a href="#">Công ty</a>
                                <ul>
                                    <li><a href="#">Tầm nhìn</a></li>
                                    <li><a href="#">Sứ mệnh</a></li>
                                    <li><a href="#">Giá trị cốt lõi</a></li>
                                    <li><a href="#">Lĩnh vực hoạt động</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Tuyển dụng</a>
                                <ul>
                                    <li><a href="#">Văn phòng</a></li>
                                    <li><a href="#">Nhà máy</a></li>
                                    <li><a href="#">Cửa hàng</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Liên hệ</a>
                                <ul>
                                    <li><a href="#">Địa chỉ công ty</a></li>
                                    <li><a href="#">Hệ thống cửa hàng</a></li>
                                    <li><a href="#">Góp ý & Khiếu nại</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>



    </header>
    <!--Main section -->
    <section class="heading__page">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>
                </ol>
            </nav>
        </div>
    </section>
    <section class="form__section">
        <article class="container">
            <div class="title__form">
                <h1>Đăng nhập tài khoản</h1>
                <p>Bạn chưa có tài khoản ? <a class="link-primary" href="#">Đăng ký tại đây</a></p>
            </div>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address <span
                            class="requires">*</span></label>
                    <input type="email" placeholder="Vui lòng nhập email của bạn" class="form-control"
                        id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Chúng tôi cam kết bảo mật thông tin cho bạn.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password <span
                            class="requires">*</span></label>
                    <input type="password" placeholder="Vui lòng nhập mật khẩu của bạn" class="form-control"
                        id="exampleInputPassword1">
                    <div id="emailHelp" class="form-text">Quên mật khẩu? Nhấn vào <a class="link-primary"
                            href="#">đây</a>.</div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                </div>
            </form>
            <div class="social__login">
                <p>Hoặc đăng nhập bằng</p>
                <div class="social__gr">
                    <button class="btn btn-danger">
                        <div class="pre-btn-login"><i class="bi bi-google"></i></div>
                        <div class="label-btn-login">Đăng nhập Google</div>
                    </button>
                    <button class="btn btn-primary">
                        <div class="pre-btn-login"><i class="bi bi-facebook"></i></div>
                        <div class="label-btn-login">Đăng nhập Facebook</div>
                    </button>
                </div>
            </div>
        </article>
    </section>
    <!-- Footer -->
    <footer class="first__footer">
        <div class="container">
            <div class="col__ft">
                <img src="/assets/images/logo-w-light.png" alt="">
                <div>
                    <i class="bi bi-geo-alt-fill"></i>
                    <p>Tòa nhà QTSC9 (toà T), đường Tô Ký, phường Tân Chánh Hiệp, quận 12, TP HCM.</p>
                </div>
                <div>
                    <i class="bi bi-telephone-fill"></i>
                    <p>(024) 7300 1955</p>
                </div>
                <div>
                    <i class="bi bi-envelope-at-fill"></i>
                    <p>caodang@fpt.edu.vn</p>
                </div>
                <div>
                    <i class="bi bi-clock-history"></i>
                    <p>Làm việc cả tuần từ 7:00 - 22:00</p>
                </div>
            </div>
            <div class="col__ft">
                <h6>Dịch vụ khách hàng</h6>
                <ul>
                    <li>
                        <a href="">An toàn mua sắm</a>
                    </li>
                    <li>
                        <a href="">Thông tin thanh toán</a>
                    </li>
                    <li>
                        <a href="">Dịch vụ giao hàng</a>
                    </li>
                    <li>
                        <a href="">Thanh toán online</a>
                    </li>
                    <li>
                        <a href="">Dịch vụ trả hàng</a>
                    </li>
                </ul>
            </div>
            <div class="col__ft">
                <h6>Về chúng tôi</h6>
                <ul>
                    <li>
                        <a href="">Thông tin tuyển dụng</a>
                    </li>
                    <li>
                        <a href="">Địa chỉ công ty</a>
                    </li>
                    <li>
                        <a href="">Danh sách chi nhánh</a>
                    </li>
                    <li>
                        <a href="">Góp ý khiếu nại</a>
                    </li>
                    <li>
                        <a href="">Liên hệ chúng tôi</a>
                    </li>
                </ul>
            </div>
            <div class="col__ft">
                <h6>Đăng ký thành viên</h6>
                <div><span>Đăng ký ngay để không bỏ lỡ bất kỳ khuyến mãi nào từ Latte House</span></div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Nhập email của bạn" aria-label="@gmail.com"
                        aria-describedby="button-addon2">
                    <button class="btn bi-send-fill btn-success" type="button" id="button-addon2"></button>
                </div>
            </div>
        </div>
    </footer>
    <footer class="second__footer">
        <div class="container">
            <div class="coppyright__ft">
                <span>Coppy right © 2023 <a href="#">Latte House</a> All Rights Reserved</span>
            </div>
            <div class="payment__card">
                <img src="/assets/images/footer_trustbadge.png" alt="">
            </div>
        </div>
    </footer>
</body>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/41b7b9f4b1.js" crossorigin="anonymous"></script>
<script src="/assets/js/main.js"></script>

</html>